// colors
$dark-grey: #606060;
$light-grey: #ebebeb;
$medium-grey: #e0e0e0;
$dark-blue: #8ebadb;
$light-blue: #E3F1FA;

.titlebar {
	font-size: 0.9em;
}

/* -------------------------------
 * REPORT VIEW
 * ------------------------------- */
#reportButton {
	margin: 0.5em;
}
#addressTextField {
	font-size: 0.8em;
	
	&.x-item-disabled .x-form-label span,
	&.x-item-disabled input {
		color: #000;
		-webkit-text-fill-color: #000;
	}
	
	.x-input-text {
		padding-left: 0.7em;
		padding-right: 0.7em;
	}
}

/*
#problemTypeSelectField {
	border-top: solid 4px $light-grey;
	border-left: solid 4px $light-grey;
	border-right: solid 4px $medium-grey;
	border-bottom: solid 4px $medium-grey;
	
	.x-component-outer::before {
		width: auto;
	}
	.x-field-input {
		//background-color: #fff;
	}
}
*/

/* -------------------------------
 * LIST VIEW
 * ------------------------------- */
#problemList {
	.x-list-item {
		background-color: #fff;
		
		.problem-item {
			.image {
				float: left;
				margin-top: 0.2em;
				img {
					width: 30px;
				}
			}

			.info {
				margin-left: 2.5em;

				.date {
					font-size: 0.7em;
					color: $dark-grey;
				}
				.address {
					margin-top: 0.2em;
					font-size: 0.9em;
				}
			}
		}
	}
}

/* -------------------------------
 * MAP VIEW
 * ------------------------------- */
#problemMap .infowindow-content {
	.date {
		font-size: 0.7em;
		color: $dark-grey;
		margin-bottom: 0.2em;
	}
	.image {
		float: left;
		margin-top: 0.2em;
		
		img {
			width: 30px;
		}
	}
	.info {
		margin-left: 2.5em;
		
		h1 {
			margin-bottom: 0.2em;
		}
		.address {
			font-size: 0.8em;
		}	
	}
}