/nbproject/private/
/resources/styles/.sass-cache/
/.sass-cache/
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lol
*.lot
*.maf
*.mtc
*.mtc1
*.nlo
*.out
*.syg
*.synctex.gz
*.tdo
/lib/sencha-touch-2.0.0-gpl/command/vendor/nodejs/node_modules/.bin/
/lib/sencha-touch-2.0.0-gpl/command/vendor/nodejs/node_modules/jasmine-node/node_modules/.bin/
/_DOCUMENTATION/02_Documentation/GFTPrototype.pdf
/_DOCUMENTATION/04_Template/template.pdf
styles.css
