# list of false positives
ok /Warning : There are multiple branch changesets here/
ok /LaTeX Warning: Label\(s\) may have changed. Rerun to get cross-references right./
ok /0 warnings/
ok /Package glosstex Warning: Term |There were undefined references/
ok /Package natbib Warning: Citation\\\(s\\\) may have changed/
ok /LaTeX Warning: `h' float specifier changed to/

# TODO: fix missing citation, but ignore missing Citations for now
ok /LaTeX Warning: Citation .* on page \d+ undefined/

# match line starting with 'error', case-insensitive
error /(?i)error/

# list of warnings here...
warning /(?i)warning/
warning /\[latex\] !/

# build steps
start /[a-z_-]*:$/