/* ------------------------------------
   GLOBAL
   ------------------------------------ */
.clear {
	clear: both;
}

a, .x-html a {
	text-decoration: none;
	color: #06C;
}
a:active, a:focus,
.x-html a:active, .x-html a:focus {
	background-color: #dfe3ec;
	color: #06C;
}

/* remove default clearicon in searchfields (only in webkit browsers)
   Source: http://css-tricks.com/7261-webkit-html5-search-inputs/ */
input[type="search"]::-webkit-search-cancel-button {
   /* Remove default */
    -webkit-appearance: none;
}

/* ------------------------------------
   TRAILSLIST
   ------------------------------------ */
#trailsList,
#favoriteTrailsList {
	font-size: 0.8em;
}
#trailsList .empty-text,
#favoriteTrailsList .empty-text,
.trailDetailMediaThumbPanel .empty-text {
	margin: auto;
	font-size: 1.1em;
	font-weight: bold;
	color: #1e3c63;
	text-align: center;
	margin-top: 3em;
}
.trailDetailMediaThumbPanel .empty-text {
	font-size: 0.9em;
}
#trailsList .x-list-item,
#favoriteTrailsList .x-list-item {
	background-color: #fff;
}
#trailsList .x-list-item.x-item-pressed,
#favoriteTrailsList .x-list-item.x-item-pressed {
	border-top-color: #D1D1D1;
	background: #dfe3ec none;
}
#trailsList .trail-item .trail-image,
#favoriteTrailsList .trail-item .trail-image,
.trailDetailTabPanel .trail-detail .trail-image {
	float: left;
	margin-right: 0.8em;
	width: 6em;
	min-height: 5em;
}
#trailsList .trail-item .trail-image img,
#favoriteTrailsList .trail-item .trail-image img,
.trailDetailTabPanel .trail-detail .trail-image img {
	width: 6em;
}
#trailsList .trail-item .trail-distance,
#favoriteTrailsList .trail-item .trail-distance {
	font-size: 0.8em;
	float: right;
	margin-left: 0.8em;
	font-weight: bold;
	color: #1e3c63;
	text-align: right;
	padding: 0.5em 1em;
	margin: 0.2em;
	border-radius: 1em;
	background-color: #e7e7e7;
	border: dotted 1px #a5a5a5;
}
#trailsList .trail-item .trail-info h1,
#favoriteTrailsList .trail-item .trail-info h1{
	font-weight: bold;
	margin-bottom: 0.2em;
}
#trailsList .trail-item .trail-info dl,
#favoriteTrailsList .trail-item .trail-info dl,
.trailDetailTabPanel .trail-detail .trail-info dl {
	font-family: Verdana;
	font-size: 0.8em;
	line-height: 1.5em;
	color: #6c6c6c;
}
#trailsList .trail-item .trail-info dt,
#favoriteTrailsList .trail-item .trail-info dt,
.trailDetailTabPanel .trail-detail .trail-info dt {
	margin-right: 0.8em;
	float: left;
	font-weight: normal;
}
#trailsList .trail-types,
#favoriteTrailsList .trail-types {
	float: left;
	margin-top: 0.3em;
}
#trailsList .trail-types .trail-type,
#favoriteTrailsList .trail-types .trail-type {
	font-size: 0.7em;
	float: left;
	margin-right: 0.5em;
	padding: 0.1em 0.4em;
	border-radius: 1em;
	background-color: #e7e7e7;
	border: solid 1px #a5a5a5;
	color: #6c6c6c;
}

/* search field */
.trailsListSearchToolbar {
	font-size: 0.9em;
}
.trailsListSearchToolbar .trailsListSearch {
	width: 95%;
}
.trailsListSearchToolbar .trailsListSearch .x-input-search {
	height: 1.7em;
}

/* list paging plugin */
#trailsList .x-list-paging {
	font-weight: bold;
	border-top: dashed #A3A3A3 1px;
	color: #6c6c6c;
	display: -webkit-box; 
	display: box; 
    -webkit-box-orient: horizontal;
	box-orient: horizontal;  
    -webkit-box-align: center;
	box-align: center;  
    -webkit-box-pack: center;
	box-pack: center;
    position: absolute;
    left: 0;
	width: 100%;
}
#trailsList .x-list-paging:focus,
#trailsList .x-list-paging:active {
	background-color: #dfe3ec;
}
#trailsList .x-list-paging .x-loading-spinner {
	margin: initial;
}
#trailsList .x-list-paging .x-list-paging-msg {
	padding-top: 0;
	color: #3364a1;
}
#trailsList .x-list-paging .x-list-paging-loadingmsg {
	display: none;
	font-size: 0.8em;
	margin-left: 1em;
}
#trailsList .x-list-paging.x-loading .x-list-paging-loadingmsg {
	display: block;
}

/* pull to refresh plugin */
#trailsList .x-list-pullrefresh {
	margin-top: 0.6em;
	color: #6c6c6c;
}
#trailsList .x-list-pullrefresh-arrow {
	-webkit-transition-property: -webkit-transform;
	-webkit-transition-duration: 250ms;
	-webkit-mask: none;
	background: transparent url('../images/arrow_black.png') center center no-repeat;
	width: 4em;
}

/* list options plugin */
#trailsList .x-list-options,
#favoriteTrailsList .x-list-options {
	background-image: url(../images/swipe_background.png);
	background-repeat: repeat;
	-webkit-box-shadow: inset 0 0 2em #252525;
}
#trailsList .x-list-options ul,
#favoriteTrailsList .x-list-options ul {
	width: 5em;
}
#trailsList .x-list-options ul li.x-menu-option,
#favoriteTrailsList .x-list-options ul li.x-menu-option {
	width: 5em;
	margin: 0;
	height: 100%;
	-webkit-border-radius: 0;
}
#trailsList .x-list-options ul li.x-menu-option .x-menu-option-image,
#favoriteTrailsList .x-list-options ul li.x-menu-option .x-menu-option-image {
	background-position: 50%;
	background-repeat: no-repeat;
	height: 100%;
}
#trailsList .x-list-options ul li.x-menu-option .x-menu-option-image.favorite {
	background-image: url('../images/fav_silver.png');
}
#trailsList .x-list-options ul li.x-menu-option .x-menu-option-image.favorite-act {
	background-image: url('../images/fav_silver_act.png');
}
#favoriteTrailsList .x-list-options ul li.x-menu-option .x-menu-option-image.delete {
	background-image: url('../images/trash_silver.png');
}
#trailsList .x-list-options ul li.x-menu-option-pressed,
#favoriteTrailsList .x-list-options ul li.x-menu-option-pressed {
	background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 30, color-stop(0%, rgba(248, 251, 254, 0.5)), color-stop(100%, rgba(248, 251, 254, 0)));
	background-image: radial-gradient(rgba(248, 251, 254, 0.5), rgba(248, 251, 254, 0) 30px);
}

/* WORKAROUND FOR SENCHA BUG: Clear icon wasn't correctly styled if form field was in a toolbar
   Source: http://www.sencha.com/forum/showthread.php?121347-OPEN-726-bad-clear-icon-handling-when-Text-field-is-in-a-toolbar */
.x-toolbar .x-field-clear-container {    
	min-height: 0;
	position: absolute;
	top: 0.35em;
	right: 0.5em;
	border-radius: 3em;
	background-color: inherit !important;
}
.x-toolbar .x-input-text.x-field-clearable, .x-toolbar .x-input-search, .x-toolbar .x-input-number.x-field-clearable {
	padding-right: 2em;
}
.x-toolbar .x-field-clear {
	padding: 0.1em 0 0 0;
	cursor: pointer;
}
.x-desktop .x-toolbar .x-input-search {
	padding-left: 1.5em;
}


/* ------------------------------------
   TRAILDETAIL
   ------------------------------------ */
/* Trail Detail - TabBar */
.trailDetailTabPanel .trailDetailTabPanelTabBar {
	font-size: 0.9em;
}
.trailDetailTabPanel .trailDetailTabPanelTabBar .x-tab {
	-webkit-border-radius: 0;
	border-radius: 0;
	height: auto;
	margin: 0;
	padding: 0.6em 0.8em;
}
/* Trail Detail - Toolbar */
.trailDetailTabPanel .x-button img.x-icon-mask.favstar {
	-webkit-mask-image: url('../images/fav_white.png');
}
.trailDetailTabPanel .x-button img.x-icon-mask.favstar-act {
	-webkit-mask-image: url('../images/fav_white_act.png');
}
.trailDetailTabPanel.title-long .x-toolbar-title {
	font-size: 0.7em;
	line-height: 3.7em;
}
.trailDetailTabPanel.title-middle .x-toolbar-title {
	font-size: 0.8em;
	line-height: 3.2em;
}
.trailDetailTabPanel.title-short .x-toolbar-title {
	font-size: 0.9em;
	line-height: 2.9em;
}

/* Trail Detail - Info */
.trailDetailTabPanel .trail-detail {
	font-size: 0.8em;
}
.trailDetailTabPanel .trail-detail .trail-detail-head {
	overflow: hidden;
	background-color: #EEE;
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(2%, #ffffff), color-stop(100%, #dcdcdc));
	background-image: linear-gradient(#ffffff,#ffffff 2%,#dcdcdc);
	text-shadow: rgba(255, 255, 255, 0.2) 0 0.1em 0;
	border-bottom: 1px solid #CCC;
	padding: 0.9em;
}
.trailDetailTabPanel .trail-detail .trail-info .status-offen {
	color: #336600;
}
.trailDetailTabPanel .trail-detail .trail-info .status-geschlossen {
	color: #ff6600;
}
.trailDetailTabPanel .trail-detail .trail-image {
	min-height: 6.5em;
}
.trailDetailTabPanel .trail-detail .trail-detail-body {
	padding: 0.9em;
}
.trailDetailTabPanel .trail-detail .trail-types {
	float: left;
	margin-top: 0.3em;
}
.trailDetailTabPanel .trail-detail .trail-types .trail-type {
	font-size: 0.7em;
	float: left;
	margin-right: 0.5em;
	padding: 0.1em 0.4em;
	border-radius: 1em;
	background-color: #fff;
	border: solid 1px #a5a5a5;
	color: #6c6c6c;
}
.trailDetailTabPanel .trail-detail h1 {
	font-size: 1.1em;
	font-weight: bold;
	margin-bottom: 0.2em;
}
.trailDetailTabPanel .trail-detail h2 {
	font-size: 1em;
	font-weight: bold;
	margin: 1em 0 0.5em 0;
}
.trailDetailTabPanel .trail-detail dl {
	margin-bottom: 0;
}
.trailDetailTabPanel .trail-detail .trail-description {
	clear: both;
}
.trailDetailTabPanel .trail-detail .trail-map {
	overflow: hidden;
}
.trailDetailTabPanel .trail-detail .trail-map a.trail-map-showonmap-link {
	font-size: 0.9em;
	margin: 1.2em 0 0 1em;
	padding: 0.2em 0.7em;
	border-radius: 0.7em;
	
	/* styles from: [apple.css] .x-toolbar-light .x-button */
	border: 0.1em solid #37465a;
	border-top-color: #415369;
	color: white;
	text-shadow: rgba(0, 0, 0, 0.5) 0 -0.08em 0;
	-webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 0.1em 0;
	background-color: #5e7899;
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #8c9fb8), color-stop(50%, #6c85a4), color-stop(51%, #5e7899), color-stop(100%, #556c89));
	background-image: linear-gradient(#8c9fb8, #6c85a4 50%, #5e7899 51%, #556c89);
}
.trailDetailTabPanel .trail-detail .trail-map a.trail-map-showonmap-link:active,
.trailDetailTabPanel .trail-detail .trail-map a.trail-map-showonmap-link:focus {
	/* styles from: [apple.css] .x-toolbar-light .x-button */
	-webkit-box-shadow: inset #3d526e 0 0 0.1em, rgba(255, 255, 255, 0.1) 0 0.1em 0;
	background-color: #516783;
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3d4e63), color-stop(10%, #475a73), color-stop(65%, #516783), color-stop(100%, #526884));
	background-image: linear-gradient(#3d4e63, #475a73 10%, #516783 65%, #526884);
}

/* Trail Detail - Thumblist */
.trailDetailMediaThumbPanel {
	margin: 0.4em 0 0 0.4em;
}
.trailDetailMediaThumbPanel .trail-images-thumblist {
	float: left;
}
.trailDetailMediaThumbPanel .trail-images-thumblist .imagebox {
	border: 0.083em solid #C7C7C7;
	background-color: #fff;
	float: left;
	margin: 0 0.4em 0.4em 0;
	padding: 0.3em;
}
.trailDetailMediaThumbPanel .trail-images-thumblist .imagebox .image {
	width: 4em;
	height: 3em;
	overflow: hidden;
	text-align: center;
}
.trailDetailMediaThumbPanel .trail-images-thumblist .imagebox .image img {
	width: 4em;
	height: 3em;
}
.trailDetailMediaThumbPanel .trail-images-thumblist .imagebox:hover,
.trailDetailMediaThumbPanel .trail-images-thumblist .imagebox:focus,
.trailDetailMediaThumbPanel .trail-images-thumblist .imagebox:active {
	border: 0.083em solid #A3A3A3;
}

/* Trail Detail - Carousel Sheet */
.trailDetailMediaCarouselSheet .x-carousel-body {
	background-color: #323232;
}
.trailDetailMediaCarouselSheet .trailDetailMediaCarouselImagePanel.first {
	-webkit-box-shadow: -2em 0 4em 1em #282828, 2em 0 4em 1em #282828;
	box-shadow: -2em 0 4em 1em #282828, 2em 0 4em 1em #282828;
}
.trailDetailMediaCarouselSheet .trailDetailMediaCarouselImagePanel.last {
	-webkit-box-shadow: 2em 0 4em 1em #282828;
	box-shadow: 2em 0 4em 1em #282828;
}
.trailDetailMediaCarouselSheet .trailDetailMediaCarouselImagePanel .image {
	text-align: center;
	background-color: #000;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: 50%;
}
.trailDetailMediaCarouselSheet .x-carousel-body .x-carousel-indicator-dark span {
	background-color: rgba(255, 255, 255, 0.2);
}
.trailDetailMediaCarouselSheet .x-carousel-body .x-carousel-indicator-dark span.x-carousel-indicator-active {
	background-color: rgba(255, 255, 255, 0.4);
}


/* ------------------------------------
   TRAILSMAP
   ------------------------------------ */
/* disable box-sizing for google map */
#trailsMap div {
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}
#trailsMap .infowindow-content {
	font-size: 0.7em;
}
#trailsMap .infowindow-content p {
	margin-bottom: 0.3em;
}
#trailsMap .infowindow-content .trail-image {
	float: left;
	margin: 0 1em 0.7em 0;
}
#trailsMap .infowindow-content .trail-image img {
	width: 8em;
}
#trailsMap .infowindow-content .trail-info {
	margin-bottom: 0.5em;
}
#trailsMap .infowindow-content .trail-info h1 {
	font-size: 1.2em;
	font-weight: bold;
	margin-bottom: 0.3em;
}
#trailsMap .infowindow-content .trail-info dl {
	color: #6c6c6c;
	line-height: 1.4em;
}
#trailsMap .infowindow-content .trail-info dt {
	margin-right: 0.5em;
	float: left;
}
#trailsMap .infowindow-content .trail-description {
	clear: both;
}


/* ------------------------------------
   FAVORITE POPUP
   ------------------------------------ */
.x-panel.favoritePopupPanel {
	background-color: rgba(0, 0, 0, 0.7);
	-webkit-border-radius: 0.5em;
	border-radius: 0.5em;
	-webkit-box-shadow: none;
}
.x-panel.favoritePopupPanel .x-panel-body {
	color: #fff;
	text-align: center;
	margin-top: 0.8em;
	padding-top: 2.7em;
	background: url(../images/fav_white.png) no-repeat 50% 0 transparent;
	overflow: hidden;
	font-weight: bold;
}
.x-panel.favoritePopupPanel.act .x-panel-body {
	background: url(../images/fav_white_act.png) no-repeat 50% 0 transparent;
}
.x-panel.favoritePopupPanel.trash .x-panel-body {
	background: url(../images/trash_white.png) no-repeat 50% 0 transparent;
}