dt, dd {
  font-weight: normal;
}

.ui-header .ui-title {
  font-size: 20px;
  margin: 0.4em 1em;
}

#box {
  margin: auto;
  text-align: center;
  max-width: 800px;
}

#yearSlider {
  display: none;
}

#timeline {
  margin: 1em 0;
}
#timeline div.ui-slider {
  margin: 0;
  width: 92%;
}

#yearSliderValue {
  position: relative;
  width: 4em;
  padding: 0.3em 0;
  text-align: center;
  margin-left: -0.2em;
  margin-bottom: 0;
}

#yearSliderValueArrow {
  border-color: #AAA transparent transparent transparent;
  position: relative;
  border-style: solid;
  border-width: 10px;
  width: 0;
  margin-left: 1.2em;
}

.map {
  padding: 0.5em;
}

#map_canvas {
  width: 100%;
  height: 400px;
  margin: 0px;
  padding: 0px;
}
#map_canvas .gmap-info-window {
  text-align: left;
}
#map_canvas .gmap-info-window h1 {
  font-size: 1.2em;
  margin: 0.2em 0;
}
#map_canvas .gmap-info-window dl.info {
  overflow: hidden;
  margin: 0.5em 0 0 0;
}
#map_canvas .gmap-info-window dl.info dt {
  clear: both;
  float: left;
  width: 10em;
  margin-top: 0.3em;
}
#map_canvas .gmap-info-window dl.info dd {
  float: left;
  margin-left: 1em;
  margin-top: 0.3em;
}

/* Bugfix for GMap-Bug with jQuery Mobile 1.1.0
   Source: http://stackoverflow.com/questions/9645355/why-are-the-google-maps-controls-infowindow-broken-skewed-when-using-jquery-mo
*/
#map_canvas img {
  max-width: none;
}

dl#layerLegend {
  font-size: 0.9em;
  overflow: hidden;
  display: none;
  padding: 0.5em 1em;
  margin-bottom: 0.5em;
}
dl#layerLegend dt {
  clear: both;
  float: left;
  width: 1em;
  height: 1em;
  border: solid 1px #fff;
  margin-top: 0.3em;
}
dl#layerLegend dd {
  float: left;
  margin-left: 1em;
  margin-top: 0.3em;
}
dl#layerLegend dd.nodata-text {
  font-style: italic;
}

#data-copyright {
  display: none;
  text-align: right;
  font-size: 0.7em;
  color: #606060;
}
#data-copyright p {
  margin-top: 0;
}
