/*
Document   : styles
Created on : 02.03.2012, 16:27:04
Author     : Juerg
Description:
Purpose of the stylesheet follows.
*/
/*
TODO customize this sample style
Syntax recommendation http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html
*/
#navbar {
  width: 80%;
  height: 23px;
}
#navbar ul {
  list-style-type: none;
}
#navbar li {
  float: left;
  margin: 100px;
}
#navbar li a {
  font-weight: bold;
}
