/*
Document   : styles
Created on : 02.03.2012, 16:27:04
Author     : Juerg
Description:
Purpose of the stylesheet follows.
*/

/*
TODO customize this sample style
Syntax recommendation http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html
*/

$margin: 200px;

#navbar {
	width: 80%;
	height: 23px;

	ul { list-style-type: none; }
	li {
		float: left;
		margin: $margin / 2;
		a { font-weight: bold; }
	}
}
