// colors
$dark-grey: #606060;
$light-grey: #ebebeb;
$dark-blue: #8ebadb;
$light-blue: #E3F1FA;

$font-size: 16px;

dt, dd {
	font-weight: normal;
}

#box {
	margin: auto;
	text-align: center;
	max-width: 800px;
}

#yearSliderValue {
	position: relative;
	width: 4em;
	padding: 0.3em 0;
	text-align: center;
	background-color: $light-blue;
	border: solid 1px $dark-blue;
	border-radius: 1em;
	margin-left: -2em;
}

#yearSliderValueArrow {
	border-color: #8ebadb transparent transparent transparent;
	position: relative;
	border-style: solid;
	border-width: 10px;
	width: 0;
	margin-left: -0.6em;
}

.map {
	padding: 0.5em;
}

#map_canvas {
	width: 100%;
	height: 400px;
	margin: 0px;
	padding: 0px;
	
	.gmap-info-window {
		text-align: left;
		
		h1 {
			font-size: 1.2em;
			margin: 0.2em 0;
		}
		
		dl.info {
			overflow: hidden;
			margin: 0.5em 0 0 0;
		}
		dl.info dt {
			clear: both;
			float: left;
			width: 10em;
			margin-top: 0.3em;
		}
		dl.info dd {
			float: left;
			margin-left: 1em;
			margin-top: 0.3em;
		}
	}
}
/* Bugfix for GMap-Bug with jQuery Mobile 1.1.0
   Source: http://stackoverflow.com/questions/9645355/why-are-the-google-maps-controls-infowindow-broken-skewed-when-using-jquery-mo
*/
#map_canvas img {
	max-width: none;
}

dl#layerLegend {
	font-size: 0.9em;
	overflow: hidden;
	margin: 1em auto;
	display: none;
	background-color: $light-blue;
	border-radius: 0.7em;
	padding: 0.5em 1em;
	width: 300px;
	text-align: left;
	
	dt {
		clear: both;
		float: left;
		width: 1em;
		height: 1em;
		border: solid 1px #fff;
		margin-top: 0.3em;
	}
	
	dd {
		float: left;
		margin-left: 1em;
		margin-top: 0.3em;
		
		&.nodata-text {
			font-style: italic;
		}
	}
}

#timeline {
	margin: 1em 0;
}

.clear {
	clear: both;
}