$mainFontSize: 16px;
$websiteWidth: 700px;

$colorOrangeDark: #fd9b32;
$colorOrangeLight: #ffdda3;
$colorGreyDark: #6f6f6f;
$colorGreyLight: #cccccc;

$list-title-width: 12em;
$padding-from-border: 1em;

h1.page-header {
	color: $colorOrangeDark;
	margin: 1em auto 0.1em auto;
	width: $websiteWidth;
	padding: 0;
	border: 0;
}

h2 {
	color: #fff;
	margin: 1em 0 0.2em 0;
	padding: 0.1em 0.5em;
	background-color: $colorGreyDark;
}
h2.first {
	margin-top: 0;
}
h3 {
	margin: 1em 0 0.3em 0;
	padding: 0 0.8em;
	border-bottom: solid 1px $colorGreyDark;
	color: $colorGreyDark;
}

#box {
	box-shadow: 0px 0px 10px 1px #aaa;
	margin: auto auto 2.5em auto;
	padding: 0 0 1em 0;
	width: $websiteWidth;
}

.part-body {
	padding: 0 $padding-from-border;
}

ul#examples {
	list-style: none;
	margin: 0;
	
	li {
		font-size: 1.2em;
		padding: 0.3em $padding-from-border;
	}
	li.odd {
		background-color: #eee;
	}
}

.label {
	margin-right: 1em;
	line-height: 2em;
}

dl.description {
	overflow: hidden;
	
	dt {
		clear: both;
		float: left;
		width: $list-title-width;
		margin-top: 0.5em;
		font-weight: bold;
	}
	dd {
		margin-left: $list-title-width + 1em;
		margin-top: 0.5em;
	}
}

a.app-start {
	margin-left: $list-title-width + 1em;
}