h1.page-header {
  font-size: 2.5em;
  color: #fd9b32;
  margin: 1em auto 0.1em auto;
  width: 700px;
  padding: 0;
  border: 0;
}

h2 {
  color: #fff;
  margin: 1em 0 0.2em 0;
  padding: 0.1em 0.4em;
  background-color: #6f6f6f;
}

h3 {
  margin: 1em 0 0.3em 0;
  padding: 0 0.4em;
  border-bottom: solid 1px #6f6f6f;
  color: #6f6f6f;
}

#box {
  margin: auto auto 2.5em auto;
  padding: 0 0 1em 0;
  border: solid 1px #6f6f6f;
  width: 700px;
}

.part-body {
  padding: 0 0.5em;
}

ul#examples li {
  margin: 0.5em 0;
  font-size: 1.2em;
}

.label {
  margin-right: 1em;
}

dl.description {
  overflow: hidden;
}
dl.description dt {
  clear: both;
  float: left;
  width: 10em;
  margin-top: 0.3em;
  font-weight: bold;
}
dl.description dd {
  margin-left: 11em;
  margin-top: 0.3em;
}

a.app-start {
  margin-left: 11em;
}
