body {
  font-family: Arial;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

a {
  color: #c40000;
  text-decoration: none;
}

a:hover, a:active, a:focus {
  text-decoration: underline;
}

h1.page-header {
  font-size: 2.5em;
  color: #fd9b32;
  margin: 1em auto auto auto;
  width: 700px;
}

h2 {
  color: #fff;
  margin-bottom: 0.2em;
  padding: 0.1em 0.4em;
  background-color: #6f6f6f;
}

h3 {
  font-size: 1.1em;
  margin: 1em 0 0.3em 0;
  padding: 0 0.4em;
  border-bottom: solid 1px #6f6f6f;
  color: #6f6f6f;
}

#box {
  margin: auto auto 1em auto;
  padding: 0 0 1em 0;
  border: solid 1px #6f6f6f;
  width: 700px;
}

ul {
  margin: 0.2em 0;
}

.part-body {
  padding: 0 0.5em;
}

#examples {
  overflow: hidden;
}
#examples li {
  margin-top: 0.4em;
  line-height: 1.4em;
}
#examples li ul.tags {
  font-size: 0.7em;
  list-style: none;
  padding: 0;
}
#examples li ul.tags li {
  margin-right: 1em;
  display: inline;
  border-radius: 1em;
  padding: 0.2em 0.7em;
}
#examples li ul.tags li.sqlapi {
  border: solid 1px #438ada;
  background-color: #b1d2f7;
}
#examples li ul.tags li.gmap {
  border: solid 1px #fd9b32;
  background-color: #ffdda3;
}
#examples li ul.tags li.fusiontableslayer {
  border: solid 1px #7fda43;
  background-color: #c8ffa3;
}
#examples li ul.tags li.oauth {
  border: solid 1px #fff047;
  background-color: #fff7a1;
}
#examples li ul.tags li.gchart {
  border: solid 1px #fff047;
  background-color: #fff7a1;
}
#examples li ul.tags li.st2 {
  border: solid 1px #fff047;
  background-color: #fff7a1;
}

dl.description {
  overflow: hidden;
}
dl.description dt {
  clear: both;
  float: left;
  width: 10em;
  margin-top: 0.3em;
  font-weight: bold;
}
dl.description dd {
  margin-left: 11em;
  margin-top: 0.3em;
}

a.app-start {
  margin-left: 11em;
  border-radius: 1em;
  padding: 0.2em 0.7em;
  border: solid 1px #277013;
  background-color: #38a01c;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

a.app-start:hover,
a.app-start:active,
a.app-start:focus {
  border: solid 1px #1a4b0d;
  background-color: #277013;
}
